---
layout: default
title: "Home"
---

{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
 <h1 style="text-align: center">Welcome to my First Website!</h1>
<p style="text-align: center;">
Welcome to my website! I'm excited to share that this is the very first website I've built. Constructing this site has allowed me to explore the fascinating world of web design and coding. While I'm continuously learning and improving, I hope you find this initial creation informative and enjoyable. Thank you for visiting, and I appreciate your support as I embark on this exciting web development journey
</p>
{% endif %}
